* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url('Waterfall.jpg') no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        }

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: antiquewhite;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    }

.navigation a::after {
    content: '';
    position:absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: antiquewhite;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover:after {
    transform-origin: left;
    transform: scale(1);
}

.title {
position: absolute;
top: 150px;
color: antiquewhite;
}

.sub-title {
position:absolute;
top: 260px;
color: antiquewhite;
}

.inside-title {
height: 30px;
}

p {
height: 100px;
}


input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 100%;
background-color: #000000;
color: antiquewhite;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover {
background-color: #122713;
}

div.c {
border-radius: 5px;
background-color: #f2f2f2;
background: transparent;
padding: 20px;
width: 20%;
backdrop-filter: blur(20px);
position: absolute;
left: 900px;
top: 300px;
}

video {
position: absolute;
left: 250px; 
bottom: 145px; 
width: 500px;
height: 300px;
}

div.a {
position: absolute;
left: 250px; 
bottom: -170px; 
width: 400px;
height: 300px;
color: antiquewhite;
text-align: center;
}

div.b {
position: absolute;
left: 250px; 
bottom: -250px; 
width: 400px;
height: 300px;
color: antiquewhite;
font-size: 1em;
text-align: center;
margin: 30px 0; 
}

div.b .icon {
font-size: 2em;
justify-content: space-between;
position: fixed;
color: black;
left: 75px;
position: absolute;
}

div.p .benefits {
font-size: 1.5em;
height: 100px;
}

div.p {
position: absolute;
left: 250px; 
bottom: -450px; 
padding: 20px;
padding-left: 10px;
padding-right: 10px;
width: 30%;
height: 400px;
color: antiquewhite;
font-size: 1em;
text-align: center;
margin: 40px 0;
border-radius: 5px;
background-color: #f2f2f2;
background: transparent;
backdrop-filter: blur(20px);
}

div.p .icon1 {
font-size: 1.1em;
justify-content: space-between;
position: fixed;
color: antiquewhite;
left: 7px;
position: absolute;
}

div.p .icon2 {
font-size: 1.1em;
justify-content: space-between;
position: fixed;
color: antiquewhite;
left: 7px;
position: absolute;
}

div.p .icon3 {
font-size: 1.1em;
justify-content: space-between;
position: fixed;
color: antiquewhite;
left: 7px;
position: absolute;
}
.headA {
    text-align: center;
    height: 700px;
    color:rgb(39, 37, 36);
    font-size: 3.5em;
    position: absolute;
}

table, th, td {
    border: 2px solid;
    border-color: antiquewhite;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px); 
    position: relative;  
}

th, td {
    padding: 20px;
    padding-left: 90px;
     padding-right: 90px;
     text-align: center;
     color: rgb(21, 20, 19);
     font-size: 1.1em;
}

.closing-argument {
    text-align: center;
    color: rgb(17, 17, 16);
    padding: 20px;
    border-radius: 30px;
    top: 700px;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(20px);
}

.closing-para {
    text-align: center;
    font-size: 1.1em;
    color: rgb(17, 17, 16);
    padding: 20px;
    border-radius: 30px;
    top: 800px;
    position: absolute;
    background: transparent;
    backdrop-filter: blur(20px);
}

input {
    text-align: center;
    font-size: 1.1em;
    width: 20%;
    background-color: #000000;
    color: antiquewhite;
    padding: 14px 20px;
    margin: 8px 0;
    position: absolute;
    top: 900px;
    justify-content: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input:hover {
    background-color: rgb(31, 39, 39);
}

footer .ending {
    text-align: center;
    position: absolute;
    top: 1000px;
    padding: 14px 20px;
    left: 700px;
    justify-content: space-between;
}

.a1 {
    position: absolute;
    font-size: 0.8em;
    top: 1080px;
    left: 635px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    justify-content: space-between;
}

.a2  {
    position: absolute;
    font-size: 0.8em;
    top: 1080px;
    left: 730px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    justify-content: space-between;
}

.icon11 {
    position: absolute;
    font-size: 0.8em;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    left: 715px;
    top: 1098px;
}

.p10 {
    position: absolute;
    font-size: 0.8em;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    left: 730px;
    top: 1085px;
    
}

.p11 {
    position: absolute;
    font-size: 0.8em;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    left: 768px;
    top: 1085px;
    
}